body
{
	font-family: 'Roboto Condensed', sans-serif;
	color: #cfd6ea ;
	background-color: #0f0a0a;
	margin-left: 20%;
	margin-right: 20%;
	
}


header, footer, nav
{
	text-align: center;
	color: #fed766;
	font-weight: bold;
}

h1, h2, h3
{
	font-family: 'PT Serif', serif;
	text-align: center;
}

h3
{
	font-size: 200%;
	line-height: 0px;
}

a
{
	text-decoration: none;
	color: #fe4a49;
}

a:hover
{
	color: #fed766;
}

figure
{
	text-align: center;
}

figcaption
{
	font-style: italic;
}


nav
{
	text-align: center;
}

.portrait img {
    width:100%;
    max-width:600px;
}

table
{
	border-collapse: collapse;
	color: #fed766;
}

thead
{
	background-color: #fe4a49;
}

th, td
{
	border: 1px solid black;
	padding: .2em 1em .2em .5em;
	text-align: left;
	vertical-align: middle;
}

.right
{
	text-align: right;
}

tbody tr:nth-child(odd) td
{
	background-color: #3c3c3b;
}

tbody tr:nth-child(even) td
{
	background-color: #1C1C1C;
}

.center {
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	list-style-position: inside;
}

.box {

	background-color: #cfd6ea;
	color: #0f0a0a;
	font-weight: 600;
	font-size: 110%;
	padding: 40px;
	border-radius: 10px;
	display: block;
	text-align: left;
}

input[type=text], input[type=email], input[type=tel], select {
	width: 100%;
	margin: 2px -13px;
	padding: 15px 10px;
}

input[type=submit]{
	width: 100%;
	background-color: #3c3c3b;
	color: #cfd6ea;
	border: none;
	border-radius: 5px;
	padding: 10px;
}