body
{
	font-family: 'Roboto Condensed', sans-serif;
	color: #cfd6ea ;
	background-color: #0f0a0a;
	margin-left: 20%;
	margin-right: 20%;
	
}


header, footer, nav
{
	text-align: center;
	color: #fed766;
	font-weight: bold;
}

h1, h2, h3
{
	font-family: 'PT Serif', serif;
	text-align: center;
}

h3
{
	font-size: 200%;
	line-height: 0px;
}

a
{
	text-decoration: none;
	color: #fe4a49;
}

a:hover
{
	color: #fed766;
}

figure
{
	text-align: center;
}

figcaption
{
	font-style: italic;
}


nav
{
	text-align: center;
}

.portrait img {
    width:100%;
    max-width:600px;
}

table
{
	border-collapse: collapse;
	color: #fed766;
	margin: 20px;
}

thead
{
	background-color: #fe4a49;
}

th, td
{
	border: 1px solid black;
	padding: .2em 1em .2em .5em;
	text-align: left;
	vertical-align: middle;
}

.right
{
	text-align: right;
}

tbody tr:nth-child(odd) td
{
	background-color: #3c3c3b;
}

tbody tr:nth-child(even) td
{
	background-color: #1C1C1C;
}