img .mat {
  box-sizing: border-box;
  width: 100%;
  height: auto;
  display: block;
  padding: 10%;
  background-color: #a67b5b;
  background-image: url(cardboard.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  border: 6px double #483c32;
  box-shadow: 0 0 0 50px rgba(244, 240, 236, 0.4) inset,
    0 0 0 11px rgb(180, 130, 90), 0 0 30px rgba(0, 0, 0, 0.8) inset;
  outline: 2px solid #333;
  outline-offset: 0px;
}

.main2 {
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.8) inset;
  background: url("../images/background.jpg") center;
  background-size: cover;
  display: table-cell;
  text-align: center;
  vertical-align: middle;
  width: 100%;
  height: 100%;
  margin: 2%;
}

img {
  background: transparent url("../images/loading_small.gif") center no-repeat;
}

body,
html {
  margin: 0;
  padding: 0;
}
* {
  box-sizing: border-box;
}

body {
  height: 100vh;
  min-height: 100vh;
  transition: 1s;
  font-family: "Noto Serif", serif;
}

.box {
  height: 100%;
  display: block;
}

.box-box {
  height: 100%;
  padding-left: 60px;
  padding-right: 60px;
  padding-bottom: 120px;
  font-size: 180%;
}

.box-image {
  height: 100%;
  background: url("../images/background.jpg") no-repeat center;
  background-size: cover;
}

.navbar {
  padding-top: 8px;
  display: flex;
  height: 60px;
  justify-content: space-between;
}

.username {
  padding-top: 2px;
  letter-spacing: 4px;
  font-weight: 700;
}

.home {
  width: 120px;
  padding-top: 4px;
}

.gallery-button {
  margin-top: 4px;
  width: 120px;
  height: 35px;
  background-color: black;
  color: whitesmoke;
  transition: 1s;
  border: none;
  outline: none;
}

.gallery-button:hover {
  background-image: linear-gradient(rgba(0, 0, 0, 0.4) 0 0);
}

.gallery-button:active {
  background-image: none;
}

.modal-button {
  height: 35px;
  width: 35px;
  padding: 0;
  margin: 0;
  color: inherit;
  border: none;
  outline: none;
  background-color: transparent;
  font-size: 1em;
}

.modal-button i:hover {
  filter: brightness(0.5);
}

.modal-button i:active {
  filter: brightness(1);
}

.footer {
  padding-top: 8px;
  letter-spacing: 20px;
  font-size: 80%;
}

.footer i:hover {
  filter: brightness(0.5);
}

.footer i:active {
  filter: brightness(1);
}

.no-js #loader {
  display: none;
}

.js #loader {
  display: block;
  position: absolute;
  left: 100px;
  top: 0;
}
.se-pre-con {
  position: fixed;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  z-index: 9999;
  background: url("../images/loading_small.gif") center no-repeat whitesmoke;
}

.map {
  width: 600px;
  height: 600px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  background-color: whitesmoke;
}

.map img {
  width: 600px;
}



/*@media screen and (max-width: 900px) {
    .row {
        flex-direction: column;
      }
    .column:not(:last-child) {
        border-right: none;
    }
}
@media screen and (min-width: 1200px) {
    body {
        margin-left: 20%;
        margin-right: 20%;
    }
    .column {
        padding-left: 40px;
        padding-right: 40px;
    }
}*/
