img {
  background: transparent url("../images/loading_small.gif") center no-repeat;
}

body,
html {
  margin: 0;
  padding: 0;
}
* {
  box-sizing: border-box;
}

body {
  height: 100vh;
  min-height: 100vh;
  transition: 1s;
  font-family: "Noto Serif", serif;
}

.box {
  height: 100%;
  display: block;
}

.box-box {
  height: 100%;
  padding-left: 60px;
  padding-right: 60px;
  padding-bottom: 120px;
  font-size: 180%;
}

.box-wrapper {
  height: 100%;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.3) inset;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  overflow-y: scroll;
}

.box-image {
  height: 100%;
  width: 100%;
  object-fit: cover;
  background: gray;
  background-size: cover;
  position: relative;
  z-index: -2;
}

.navbar {
  padding-top: 8px;
  display: flex;
  height: 60px;
  justify-content: space-between;
}

.username {
  padding-top: 2px;
  letter-spacing: 4px;
  font-weight: 700;
}

.home {
  width: 120px;
  padding-top: 4px;
}

.gallery-button {
  margin-top: 4px;
  width: 120px;
  height: 35px;
  background-color: black;
  color: whitesmoke;
  transition: 1s;
  border: none;
  outline: none;
}

.gallery-button:hover {
  background-image: linear-gradient(rgba(0, 0, 0, 0.4) 0 0);
}

.gallery-button:active {
  background-image: none;
}

.modal-button {
  height: 35px;
  width: 35px;
  padding: 0;
  margin: 0;
  color: inherit;
  border: none;
  outline: none;
  background-color: transparent;
  font-size: 1em;
}

.modal-button i:hover {
  filter: brightness(0.5);
}

.modal-button i:active {
  filter: brightness(1);
}

.footer {
  padding-top: 8px;
  letter-spacing: 20px;
  font-size: 80%;
}

.footer i:hover {
  filter: brightness(0.5);
}

.footer i:active {
  filter: brightness(1);
}

.no-js #loader {
  display: none;
}

.js #loader {
  display: block;
  position: absolute;
  left: 100px;
  top: 0;
}
.se-pre-con {
  position: fixed;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  z-index: 9999;
  background: url("../images/loading_small.gif") center no-repeat whitesmoke;
}

.map {
  width: 600px;
  height: 600px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: whitesmoke;
}

.map img {
  width: 600px;
}

.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: white;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.8);
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  color: inherit;
  text-decoration: none;
  font-size: 25px;
  font-weight: 700;
  letter-spacing: 1px;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  filter: brightness(0.5);
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

.sidenav-open {
  width: 250px;
}

.profilePhoto {
  max-width: 600px;
  width: 80%;

  padding-top: 25px;
  padding-bottom: 25px;
  transition: 3;
  margin-left: auto;
  margin-right: auto;
  background-image: url("../images/loading_small.gif");
}

.about {
  transition: 3;
  margin-left: auto;
  margin-right: auto;
  max-width: 500px;
  background: url("../images/paper.jpg");
  background-size: cover;
  font-size: 70%;
  color: black;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.4);
  padding-top: 30px;
  padding-bottom: 30px;
  padding-left: 30px;
  padding-right: 30px;
}

.socials {
  padding-top: 25px;
  display: flex;
  justify-content: space-between;
}

.socials a, a:focus, a:active {
  text-decoration: none;
  color: inherit;
}

.socials a:hover {
  color: gray;
}

.gallery {
  display: flex;
  flex-direction: column;
  border-radius: 5px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.4);
  margin: 45px;
  max-width: 350px;
}

.gallery-items {
  display: flex;
}

.gallery-info {
  padding: 2px 16px;
}

.gallery-info h3, p {
  margin-bottom: 5px;
  margin-top: 5px;  
}

.gallery img {
  max-height: 230px;
  object-fit: cover;
}

.lg-backdrop {
  
  filter: opacity(0.9);
}

@media screen and (max-height: 450px) {
  .sidenav {
    padding-top: 15px;
  }
  .sidenav a {
    font-size: 18px;
  }
}
