<div class="navbar">
  <div class="home">
    <button class="modal-button">
      <i class="fas fa-bars" id="navbar-toggle" onclick="openNav()"></i>
    </button>
  </div>
  <div class="username"></div>
  <button id="gallery-button" class="gallery-button">GALLERY MAP</button>
</div>
<div id="mySidenav" class="sidenav">
  <a class="closebtn" onclick="closeNav()">&times;</a>
  <a href="index.html">home</a>
  <a href="about.html">about</a>
  <a href="social.html">social</a>
  <a href="galleries.html">galleries</a>
  <a href="collections.html">photos I like</a>
</div>

