<nav>
    <a href="index.html">Home </a>&#183;
    <a href="intro.html">Introduction </a>&#183;
    <a href="contract.html">Contract </a>&#183;
    <a href="project/index.html">Project Demo </a>&#183;
    <a href="forms.html">Forms </a>&#183;
    <a href="tables.html">Tables </a>&#183;
    <a href="website_evaluations.html">Website Evaluations </a>&#183;
    <a href="first-scripts.html">First Scripts </a>&#183;
    <a href="polygon-namer.html">Polygon Namer </a>&#183;
    <a href="calculator.html">Calculator </a>&#183;
    <a href="project-requirements.html">Project Requirements </a>&#183;
    <a href="arrays.html">Arrays </a>&#183;
    <a href="slideshow.html">Slideshow </a>&#183;
    <a href="Hull-Activity10.html">Activity 10 </a>&#183;
    <a href="Hull-Activity11.html">Activity 11 </a>&#183;
    <a href="Hull-Activity12.html">Activity 12 </a>&#183;
    <a href="Hull-Activity13.html">Activity 13 </a>&#183;
    <a href="Hull-Activity14.html">Activity 14 </a>
  </nav>